svg(data-ng-controller='UserProfileController', version="1.1", id="profile-clip", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="500px", height="500px", viewBox="0 0 500 500", enable-background="new 0 0 500 500", xml:space="preserve")
	image(xlink:href='{{ image }}', x='80', y='110', width='400', height='400')
	clipPath(id="profile-cliping")
		path(fill-rule="evenodd", clip-rule="evenodd", fill="#F9FBFA", d="M457.099,348.211c0,114.199-69.253,136.813-183.45,136.813 c-114.199,0-183.453-22.614-183.453-136.813c0-114.196,69.254-206.772,183.453-206.772 C387.846,141.439,457.099,234.015,457.099,348.211z")