$blue-green-text: #1abc9c;
$blue-green-text-dark: #16a085;
$blue-green: #ace8dc;
$blue-green-dark: #acded5;

$green-text: #2ecc71;
$green-text-dark: #16a085;
$green: #b5eecd;
$green-dark: #b3e4c7;

$blue-text: #3498db;
$blue-text-dark: #2980b9;
$blue: #b7dbf3;
$blue-dark: #b4d3e8;

$purple-text: #9b59b6;
$purple-text-dark: #8e44ad;
$purple: #ddc5e7;
$purple-dark: #d9bde3;

$blue-gray-text: #34495e;
$blue-gray-text-dark: #2c3e50;
$blue-gray: #b8bfc7;
$blue-gray-dark: #b5bcc2;

$yellow-text: #f1c40f;
$yellow-text-dark: #f39c12;
$yellow: #faeba6;
$yellow-dark: #fcdca9;

$orange-text: #e67e22;
$orange: #f6d2ae;
$orange-dark: #f0c3a2;

$red-text: #e74c3c;
$red: #f8c1ba;
$red-dark: #ebbab5;

$white-text: #ecf0f1;
$white: #f9fbfa;
$white-dark: #e9eaec;

$gray-text: #95a5a6;
$gray: #dbe1e1;
$gray-dark: #d2d8d8;

$gray-super-dark: #7f8c8d;