.list.grid
	ul(data-grid-layout)
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[0]["image"]}}')
				h3 {{gifts[0]["name"]}}
				h4 Point : {{gifts[0]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[1]["image"]}}')
				h3 {{gifts[1]["name"]}}
				h4 Point : {{gifts[1]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[2]["image"]}}')
				h3 {{gifts[2]["name"]}}
				h4 Point : {{gifts[2]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[3]["image"]}}')
				h3 {{gifts[3]["name"]}}
				h4 Point : {{gifts[3]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[4]["image"]}}')
				h3 {{gifts[4]["name"]}}
				h4 Point : {{gifts[4]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[5]["image"]}}')
				h3 {{gifts[5]["name"]}}
				h4 Point : {{gifts[5]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[6]["image"]}}')
				h3 {{gifts[6]["name"]}}
				h4 Point : {{gifts[6]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[7]["image"]}}')
				h3 {{gifts[7]["name"]}}
				h4 Point : {{gifts[7]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[8]["image"]}}')
				h3 {{gifts[8]["name"]}}
				h4 Point : {{gifts[8]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[9]["image"]}}')
				h3 {{gifts[9]["name"]}}
				h4 Point : {{gifts[9]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[10]["image"]}}')
				h3 {{gifts[10]["name"]}}
				h4 Point : {{gifts[10]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[11]["image"]}}')
				h3 {{gifts[11]["name"]}}
				h4 Point : {{gifts[11]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[12]["image"]}}')
				h3 {{gifts[12]["name"]}}
				h4 Point : {{gifts[12]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[13]["image"]}}')
				h3 {{gifts[13]["name"]}}
				h4 Point : {{gifts[13]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[14]["image"]}}')
				h3 {{gifts[14]["name"]}}
				h4 Point : {{gifts[14]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[15]["image"]}}')
				h3 {{gifts[15]["name"]}}
				h4 Point : {{gifts[15]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[16]["image"]}}')
				h3 {{gifts[16]["name"]}}
				h4 Point : {{gifts[16]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[17]["image"]}}')
				h3 {{gifts[17]["name"]}}
				h4 Point : {{gifts[17]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[18]["image"]}}')
				h3 {{gifts[18]["name"]}}
				h4 Point : {{gifts[18]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[19]["image"]}}')
				h3 {{gifts[19]["name"]}}
				h4 Point : {{gifts[19]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get
		li.grid-item
			.gift
				.image
					img(src='/images/gift/{{gifts[20]["image"]}}')
				h3 {{gifts[20]["name"]}}
				h4 Point : {{gifts[20]["point"]}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get