.list.grid
	ul(data-grid-layout)
		li.grid-item(data-ng-repeat="gift in gifts")
			.gift
				.image
					img(src='/images/gift/{{gift.image}}')
				h4 Point : {{gift.point}}
				.console
					button(type='button', style='background-image: url("/images/icon-add-to-cart.png");') Get