.list
	ul
		each val in [1, 2, 3, 4, 5]
			li
				.post
					.author
						.profile-image
							include ../template/profile-image.jade
							img(src='/images/profile-bg.png')
						h4 Songkrod Thanavorn
						.time
							span 12 มกราคม 2559
					.image
						img(src='/images/test.jpg')
					.description
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
					.polls(style='background-image:url(/images/love-2.png)')
						h5 20 likes
						a(href='#comment') view all 3 comments