.recommend
	.layout.layout-1
		.image
			img(src='/images/recommend/{{recommend.image1}}')
	.layout.layout-3
		.image
			img(src='/images/recommend/{{recommend.image2}}')
		.image
			img(src='/images/recommend/{{recommend.image3}}')
		.image
			img(src='/images/recommend/{{recommend.image4}}')
	.layout.layout-1
		.image
			img(src='/images/recommend/{{recommend.image5}}')
	.layout.layout-2
		.image
			img(src='/images/recommend/{{recommend.image6}}')
		.image
			img(src='/images/recommend/{{recommend.image7}}')
	.layout.layout-3
		.image
			img(src='/images/recommend/{{recommend.image8}}')
		.image
			img(src='/images/recommend/{{recommend.image9}}')
		.image
			img(src='/images/recommend/{{recommend.image10}}')
	.layout.layout-2
		.image
			img(src='/images/recommend/{{recommend.image11}}')
		.image
			img(src='/images/recommend/{{recommend.image12}}')
	.layout.layout-1
		.image
			img(src='/images/recommend/{{recommend.image13}}')