.recommend
	.layou-1
		.image
			img(src='/images/banner/{recommend.image1}}')
	.layou-3
		.image.image-1
			img(src='/images/banner/{{recommend.image2}}')
		.image
			img(src='/images/banner/{{recommend.image3}}')
		.image
			img(src='/images/banner/{{recommend.image4}}')
	.layou-1
		.image
			img(src='/images/banner/{{recommend.image5}}')