ul
	li.item
		a
			.profile-image
				div(data-ng-include="'modules/user/views/profile.client.view.jade'")
				img(src='/images/profile-bg.png')
			.description
				p
					b Songkrod
					| following you.
				span 5s ago
	li.item
		a
			.profile-image
				div(data-ng-include="'modules/user/views/profile.client.view.jade'")
				img(src='/images/profile-bg.png')
			.description
				p
					b Songkrod
					| following you.
				span 1 hours ago
	li.item
		a
			.profile-image
				div(data-ng-include="'modules/user/views/profile.client.view.jade'")
				img(src='/images/profile-bg.png')
			.description
				p
					b Songkrod
					| following you.
				span 1 day ago
	li.more
		a See all