.list
	ul(data-grid-layout)
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/1.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) This little lady who has ears that are so adorable the entire population of planet Earth has been overcome with cuteness. | 27 Puppies Who
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/2.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) By Lindsey Robertson You know the expression fight like cats and dogs? Well, you won't catch a glimpse of that in any of the 9 photos ahead
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/3.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Just to see what they've been up to lately. The world wants to know what's going on with you, pygmy marmosets. First burning question: How
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/4.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) is this a baby POLAR BEAR?!! or...not?
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/5.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) OMG so small.
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/6.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Who knew baby chameleons could be this cute??
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/7.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Preparem os corações, pois estas 21 situações que aconteceram com cachorrinhos da raça Bulldog Francês é pura fofura.
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/cat-1.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/dog-1.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/dog-2.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/sheep-1.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/monkey-1.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/cat-2.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/horse-1.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/dog-3.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/dog-4.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/cat-4.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/cat-3.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/dog-5.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/sheep-2.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Petpaw Online
					.time
						span 11 มกราคม 2559
				.image
					img(src='/images/post/dog-6.jpg')
				.description
					//- .polls 0 likes
					p(data-dot) Largest pet lover online community. 
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
.view-option(data-stick-bar, data-stick-to='{"item":"#content .tabs", "gaps":"100"}')
	a(data-view-mode='{{viewMode}}', data-ng-click='changeViewMode()')