.list
	ul(data-grid-layout)
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Songkrod Thanavorn
					.time
						span 12 มกราคม 2559
				.image
					img(src='/images/test.jpg')
				.description
					p(data-dot) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
				.polls(style='background-image:url(/images/love-2.png)')
					h5 20 likes
					a(href='#comment') view all 3 comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Songkrod Thanavorn
					.time
						span 12 มกราคม 2559
				.image
				.description
					p(data-dot) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
				.polls(style='background-image:url(/images/love-2.png)')
					h5 20 likes
					a(href='#comment') view all 3 comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Songkrod Thanavorn
					.time
						span 12 มกราคม 2559
				.image
				.description
					p(data-dot) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
				.polls(style='background-image:url(/images/love-2.png)')
					h5 20 likes
					a(href='#comment') view all 3 comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Songkrod Thanavorn
					.time
						span 12 มกราคม 2559
				.image
					img(src='/images/test.jpg')
				.description
					p(data-dot) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
				.polls(style='background-image:url(/images/love-2.png)')
					h5 20 likes
					a(href='#comment') view all 3 comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Songkrod Thanavorn
					.time
						span 12 มกราคม 2559
				.image
				.description
					p(data-dot) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
				.polls(style='background-image:url(/images/love-2.png)')
					h5 20 likes
					a(href='#comment') view all 3 comments
		li.grid-item
			.post
				.author
					.profile-image
						div(data-ng-include="'modules/user/views/profile.client.view.jade'")
						img(src='/images/profile-bg.png')
					h4 Songkrod Thanavorn
					.time
						span 12 มกราคม 2559
				.image
				.description
					p(data-dot) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo แอดมิชชั่น ยิมทิป ธุรกรรมอุปสงค์แชมพู แชมปิยองธุหร่ำทิป โพลารอยด์ตุ๊กวาฟเฟิล เพียบแปร้เซลส์ ปิยมิตรคาร์โก้พุทธศตวรรษโชว์รูม
				.polls(style='background-image:url(/images/love-2.png)')
					h5 20 likes
					a(href='#comment') view all 3 comments
.view-option
	a(data-view-mode='{{viewMode}}', data-ng-click='changeViewMode()')