.list.grid
	ul(data-grid-layout)
		li.grid-item
			.post
				.image
					img(src='/images/post/m1.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Whether we're alone in the universe or not, I still eat worms.
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m2.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Is that like an albino hedgehog?? Is there such a thing???
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m3.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) This is the best thing ever. Pictures of baby ducks to cure your depression
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m4.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Warning: These pictures will melt your heart
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m5.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Top 10 Most Affectionate Dog Breeds ~ The Pet's Planet
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m6.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) For the love of animals. Pass it on.
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m7.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Bunny Bunny Bunny
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m8.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) It's Halloween for pets too, you guys. Here is some serious inspiration.
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m9.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) this is so cute
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m10.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Seriously…who DOESN’T love cute animals? Here are 25 of the cutest animal pictures that I put together for y’all! Enjoy the adorable cats
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m11.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Miracle’s owner Kayley-May Coles, ten, from Swindon, Wiltshire, has fed her special baby dog milk through a syringe for nine days after
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m12.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) teacup chihuahua puppy...oh my gosh, it's so tiny!
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m13.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) My heart is in a puddle.
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m14.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) cute animals - Google Search
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m15.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) Here is a beautiful Selection of cute animal pictures captured by talented photographers from around the globe
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m16.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) namaste
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments
		li.grid-item
			.post
				.image
					img(src='/images/post/m17.jpg')
				.description
					//- .polls  0 likes
					p(data-dot) praying?
				.console
					a.like-btn(href='#like'): span like
					a.comment-btn(href='#comment'): span comments