ul
	li.item: a(data-ui-sref='social.favorite', data-ng-click='changeState($event)'): img(src='/images/icon-favorite.png')
	li.item.active: a(data-ui-sref='social.feeds', data-ng-click='changeState($event)'): img(src='/images/icon-home.png')
	li.item: a(href='#profile', data-ng-click='changeState($event)'): img(src='/images/icon-profile.png')
	li.item: a(href='#activity', data-ng-click='changeState($event)'): img(src='/images/icon-activity.png')
	li.item: a(href='#message', data-ng-click='changeState($event)'): img(src='/images/icon-message.png')