doctype html
html
	head
		title= title
		link(href='/css/main.css', rel='stylesheet')
		link(href='/lib/ng-img-crop/compile/minified/ng-img-crop.css', rel='stylesheet')
	body#mainApp
		#header
			.wrap
				#nav
					img(src='/images/logo.png')
				#menu
					.wrap
						ul
							li.item.social
								a(data-ui-sref='social.feeds') Social
							li.item.sale 
								a(data-ui-sref='sale.buy') Sale
							li.item.shopping 
								a(data-ui-sref='shop.feeds') Shopping
							li.item.service 
								a(data-ui-sref='service.shop') Service
		#wrapper(data-ui-view)

		script(src='/lib/jquery/jquery.min.js')
		script(src='/lib/masonry/dist/masonry.pkgd.min.js')
		script(src='/lib/imagesloaded/imagesloaded.pkgd.min.js')
		script(src='/lib/jQuery.dotdotdot/src/jquery.dotdotdot.min.js')
		script(src='/lib/toom/toom.js')

		script(src='/lib/angular/angular.min.js')
		script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
		script(src='/lib/ng-img-crop/compile/minified/ng-img-crop.js')
		script(src='/lib/ngmap/build/scripts/ng-map.min.js')
		script(src='http://maps.google.com/maps/api/js?sensor=false')
		
		script(src='/modules/core/core.client.module.js')
		script(src='/modules/core/config/core.client.route.js')
		script(src='/modules/core/directives/masonry.client.directive.js')
		script(src='/modules/core/directives/stick.client.directive.js')
		script(src='/modules/core/directives/dot.client.directive.js')

		script(src='/modules/user/user.client.module.js')
		script(src='/modules/user/config/user.client.route.js')
		script(src='/modules/user/controllers/user.client.controller.js')
		script(src='/modules/user/controllers/profile.client.controller.js')
		script(src='/modules/user/controllers/setting.client.controller.js')
		script(src='/modules/user/controllers/follower.client.controller.js')
		script(src='/modules/user/controllers/following.client.controller.js')
		script(src='/modules/user/controllers/friend.client.controller.js')

		script(src='/modules/shop/shop.client.module.js')
		script(src='/modules/shop/config/shop.client.route.js')
		script(src='/modules/shop/controllers/shop.client.controller.js')
		script(src='/modules/shop/controllers/feeds.client.controller.js')
		script(src='/modules/shop/controllers/detail.client.controller.js')
		script(src='/modules/shop/controllers/sale.client.controller.js')
		script(src='/modules/shop/controllers/recommend.client.controller.js')
		script(src='/modules/shop/controllers/gift.client.controller.js')
		script(src='/modules/shop/controllers/information.client.controller.js')

		script(src='/modules/sale/sale.client.module.js')
		script(src='/modules/sale/config/sale.client.route.js')
		script(src='/modules/sale/controllers/sale.client.controller.js')
		script(src='/modules/sale/controllers/sell.client.controller.js')
		script(src='/modules/sale/controllers/buy.client.controller.js')
		script(src='/modules/sale/controllers/bid.client.controller.js')
		script(src='/modules/sale/controllers/information.client.controller.js')

		script(src='/modules/service/service.client.module.js')
		script(src='/modules/service/config/service.client.route.js')
		script(src='/modules/service/controllers/service.client.controller.js')
		script(src='/modules/service/controllers/shop.client.controller.js')

		script(src='/modules/social/social.client.module.js')
		script(src='/modules/social/config/social.client.route.js')
		script(src='/modules/social/controllers/social.client.controller.js')
		script(src='/modules/social/controllers/feeds.client.controller.js')
		script(src='/modules/social/controllers/favorite.client.controller.js')
		script(src='/modules/social/controllers/me.client.controller.js')

		script(src='/application.js')