ul
	li.item.active: a(href='?tab=list'): img(src='/images/icon-home.png')
	li.item: a(href='?tab=grid'): img(src='/images/icon-favorite.png')
	li.item: a(href='#profile'): img(src='/images/icon-profile.png')
	li.item: a(href='#activity'): img(src='/images/icon-activity.png')
	li.item: a(href='#message'): img(src='/images/icon-message.png')