.information
	.info-box
		h1 Terms and Conditions
	.info-box
		h1 1. Introduction 
		//- span.time july 27, 2016
		p These are the terms and conditions of our agreement which apply to all purchases of products by you from Petpawonline.com, owned and operated by Petpawonline.com, including subsidiaries and affiliates provide you, its Services (herein after referred as “Website”) under the following conditions. Please read the following terms carefully. If you do not agree to the following Terms & Conditions you may not enter or use this Website. If you continue to browse and use this Website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy governs Petpawonline.com and its use by you in relation to this Website. 
	.info-box
		h1 2. Information and Product Description 
		p While every effort is made to update the information contained on this Website, neither Petpawonline.com nor any third party or data or content provider make any representations or warranties, whether express, implied in law or residual, as to the sequence, accuracy, completeness or reliability of information, opinions, any pricing information, research information, data and/or content contained on the Website (including but not limited to any information which may be provided by any third party or data or content providers) and shall not be bound in any manner by any information contained on the Website. 
		p Petpawonline.com reserves the right at any time to change or discontinue without notice, any aspect or feature of this Website. No information shall be construed as advice and information is offered for information purposes only and is not intended for trading purposes. You and your company rely on the information contained on this Website at your own risk. If you find an error or omission at this site, please let us know. 
	.info-box
		h1 3. Trademarks and Copyright 
		p The trade marks, names, logos and service marks (collectively "trademarks") displayed on this Website are all registered and unregistered trademarks of Petpawonline.com. Nothing contained on this Website should be construed as granting any license or right to use any trade mark without the prior written permission of Petpawonline.com. 
	.info-box
		h1 4. External Links 
		p External links may be provided for your convenience, but they are beyond the control of Petpawonline.com and no representation is made as to their content. Use or reliance on any external links and the content thereon provided is at your own risk. When visiting external links you must refer to the terms and conditions of use for that external Website. No hypertext links shall be created from any Website controlled by you or otherwise to this Website without the express prior written permission of Petpawonline.com. Please contact us if you would like to link to this Website or would like to request a link to your Website. 
	.info-box
		h1 5. Public Forums and User Submissions 
		p Petpawonline.com is not responsible for any material submitted to the public areas by you (which include bulletin boards, hosted pages, chat rooms, or any other public area found on the Website. Any material (whether submitted by you or any other user) is not endorsed, reviewed or approved by Petpawonline.com. We reserve the right to remove any material submitted or posted by you in the public areas, without notice to you, if it becomes aware and determines, in its sole and absolute discretion that you are or there is the likelihood that you may, including but not limited